<div class="col-sm-6 col-md-4">
	<div class="thumbnail">
		<div class="caption">

			  <%= raw Pygments.highlight(gist.snippet.length > 30 ? gist.snippet[0,30] + "..." : gist.snippet, lexer: gist.lang) %>
			  <p>Language: <%= gist.lang %></p>
			  <p>Description: <%= gist.description %></p>
			  
			   <%- if(session[:user_id] and gist.user_id == session[:user_id])  %>
                                  <%= link_to 'Show', gist, :class => 'btn btn-success' %>
				  <%= link_to 'Edit', edit_gist_path(gist), :class => 'btn btn-warning' %>
				  <%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
			  <%- else %>
                                  <%= link_to 'Show', gist, :class => 'btn btn-success btn-block' %>
                          <%- end %>
		</div>
	</div>
</div>