<tr class="post">
  <td><%= raw Pygments.highlight(gist.snippet.length > 30 ? gist.snippet[0,30] + "..." : gist.snippet, lexer: gist.lang) %></td>
  <td><%= gist.lang %></td>
  <td><%= gist.description %></td>
  
  <td><%= link_to 'Show', gist, :class => 'btn btn-success' %></td>
  <%- if(@current_user)  %>
  <td><%= link_to 'Edit', edit_gist_path(gist), :class => 'btn btn-warning' %></td>
  <td><%= link_to 'Destroy', gist, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
  <%- end %>
</tr>
