<div class="col-sm-12 col-md-12">
	<div class="thumbnail">
		<div class="caption">
		  <h3><%= link_to post.description, post_path(post) %></h3>
		 
		  <small><em><%= post.timestamp %></em></small>
		 
		  <p><%= truncate(strip_tags(post.content), length: 600) %></p>
		  <%- if(session[:user_id] and User.find(session[:user_id]).is_admin) %>
			  <%= link_to 'Show', post, :class => 'btn btn-success' %>
			  <%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-warning' %>
			  <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %>
		  <%- end %>
	  </div>
	</div>
</div>
