<tr class="post">
    <td><%= post.content %></td>
    <td><%= post.date %></td>
    <td><%= post.description %></td>
    <td><%= link_to 'Show', post, :class => 'btn btn-success' %></td>
    <td><%= link_to 'Edit', edit_post_path(post), :class => 'btn btn-warning' %></td>
    <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-danger' %></td>
</tr>
