<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <h1>
  <%= @post.description %>
  </h1>
  <%= @post.timestamp %><br/>
  <strong>By:</strong>
  <%- if(@post.user) %>
  <%- if(!@post.user.name.blank?) %>
    <%=  @post.user.name %>
  <%- else %>
    <%=  @post.user.nick %>
  <%- end else %>
      Not specified
  <%- end %>
  <hr/>
</p>

<p style='font-size: 18px;'>
  
  <%= @post.content %>
</p>


<br> 
    <%- if(session[:user_id] && User.find(session[:user_id]).is_admin)  %>
    <%= link_to 'Edit', edit_post_path(@post), :class => 'btn btn-warning' %>
     <%- end %>
    <%= link_to 'Back', posts_path, :class => 'btn btn-primary' %>
</div>
