<!DOCTYPE html>
<html>
<head>
  <title>MyGists</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<ul class="nav nav-tabs">
  <li><a href="#">Home</a></li>
  <li><a href="posts">Posts</a></li>
  <li><a href="gists">Gists</a></li>
  <li class="active"><%- if(current_user)  %>
<%= link_to "Sign out", "/signout" %>
<%- else  %>
<%= link_to "Sign in with Github", "/auth/github" %>
<%- end %></li>
</ul>

<%= yield %>

</body>
</html>
